/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * https://tailwindcss.com/docs/plugins#adding-utilities
 */

 .directory-columns ul {
    columns: 270px 4;
    column-gap: 10px
}

.wp-block-image.aligncenter {
    margin-inline: auto;
}

.directory-article img {
    border-radius: 24px 24px 0 0;
}
