<!-- wp:template-part {"slug":"header-jan24","area":"header"} /-->

<!-- wp:group {"tagName":"main","displayRules":[{"_key":0,"displayKey":"authentication","tpgb_authentication_value":"authenticated","tpgb_role_value":"administrator","tpgb_os_value":"iphone","tpgb_browser_value":"ie","assigOpr":"is","tpgb_startdate_value":"2021-10-13","tpgb_enddate_value":"2021-10-15","tpgb_time_value":"12:00","tpgb_day_value":"[]","tpgb_post_type_value":"[]","tpgb_page_value":"[]","tpgb_post_value":"[]","tpgb_taxonomy_archive_value":"[]","tpgb_single_terms_value":"[]","tpgb_author_archive_value":"[]","tpgb_post_type_archive_value":"[]","tpgb_static_page_value":"home","tpgb_date_archive_value":"day","tpgb_search_results_value":"","tpgb_single_archive_value":"[]"}]} -->
<main class="wp-block-group"><!-- wp:post-content /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->