.ad {
    &160_300 {
        @apply w-[160px] h-[300px] overflow-hidden
    }
    &768_90 {
        @apply w-[768px] h-[90px] overflow-hidden
    }
    & > .kt-row-column-wrap {
        @apply !p-0
    }
    @apply h-full
}
.g {
    overflow: visible;
    height: 100%;
}
.g-1 {
    height: 100% !important;
    overflow: visible !important;
}
.g-dyn, .g-single, .a-single {
    position: sticky;
    top: 40px;
}