.header .wp-block-post-content a:not(a.wp-block-button__link.wp-element-button) {
    @apply font-semibold font-serif text-blue
}
span.wp-block-navigation-item__label {
    @apply font-serif text-xl
}
.kt-blocks-accordion-header.kt-accordion-panel-active .kt-blocks-accordion-icon-trigger {
    &:before, &:after {
        @apply !bg-white
    }
}
.kt-blocks-accordion-title {
    @apply pl-2
}
.wp-block-post-content a:not(a.wp-block-button__link.wp-element-button):hover {
    @apply underline
}
.wp-block-navigation-item__content:hover,
a.wp-block-button__link.wp-element-button:hover {
    text-underline-offset: 7px;
    @apply !underline
}
.kt-accordion-panel-inner {
    a {
        text-underline-offset: 8px;
        @apply text-2xl pl-3
    }
    p {
        line-height: 3rem;
        @apply py-1
    }
}
.kt-accordion-header-wrap .kt-blocks-accordion-header {
    @apply !text-white font-serif text-2xl
}
.page-test {
    .wp-block-post-content a:not(a.wp-block-button__link.wp-element-button),
    span.wp-block-navigation-item__label {
        @apply text-medical
    }
}
.page-medical, .medical {
    .wp-block-post-content a:not(a.wp-block-button__link.wp-element-button),
    .kt-accordion-panel-inner a {
        @apply text-medical
    }
    .kt-accordion-header-wrap .kt-blocks-accordion-header {
        @apply !bg-medical 
    }
    .wp-block-navigation-item__content:hover,
    a.wp-block-button__link.wp-element-button:hover {
        text-decoration-color: var(--wp--preset--color--medical);
        
    }
}
.page-attractions, .attractions {
    .wp-block-post-content a:not(a.wp-block-button__link.wp-element-button),
    .kt-accordion-panel-inner a {
        @apply text-events
    }
    .kt-accordion-header-wrap .kt-blocks-accordion-header {
        @apply !bg-events
    }
    .wp-block-navigation-item__content:hover,
    a.wp-block-button__link.wp-element-button:hover {
        text-decoration-color: var(--wp--preset--color--events);
        
    }
}
.page-san-antonio-vehicle, .vehicle {
    .wp-block-post-content a:not(a.wp-block-button__link.wp-element-button),
    .kt-accordion-panel-inner a {
        @apply text-vehicle
    }
    .kt-accordion-header-wrap .kt-blocks-accordion-header {
        @apply !bg-vehicle
    }
    .wp-block-navigation-item__content:hover,
    a.wp-block-button__link.wp-element-button:hover {
        text-decoration-color: var(--wp--preset--color--vehicle);
        
    }
}
.page-pet-care, .pet {
    .wp-block-post-content a:not(a.wp-block-button__link.wp-element-button),
    .kt-accordion-panel-inner a {
        @apply text-pet
    }
    .kt-accordion-header-wrap .kt-blocks-accordion-header {
        @apply !bg-pet
    }
    .wp-block-navigation-item__content:hover,
    a.wp-block-button__link.wp-element-button:hover {
        text-decoration-color: var(--wp--preset--color--pet);
        
    }
}
.page-seniors, .seniors {
    .wp-block-post-content a:not(a.wp-block-button__link.wp-element-button),
    .kt-accordion-panel-inner a {
        @apply text-senior
    }
    .kt-accordion-header-wrap .kt-blocks-accordion-header {
        @apply !bg-senior
    }
    .wp-block-navigation-item__content:hover,
    a.wp-block-button__link.wp-element-button:hover {
        text-decoration-color: var(--wp--preset--color--senior);
        
    }
}
.page-churches, .churches {
    .wp-block-post-content a:not(a.wp-block-button__link.wp-element-button),
    .kt-accordion-panel-inner a {
        @apply text-worship
    }
    .kt-accordion-header-wrap .kt-blocks-accordion-header {
        @apply !bg-worship
    }
    .kt-accordion-panel-inner a
    .wp-block-navigation-item__content:hover,
    a.wp-block-button__link.wp-element-button:hover {
        text-decoration-color: var(--wp--preset--color--worship);
        
    }
}
.page-childcare, .childcare {
    .wp-block-post-content a:not(a.wp-block-button__link.wp-element-button),
    .kt-accordion-panel-inner a {
        @apply text-preschool
    }
    .kt-accordion-header-wrap .kt-blocks-accordion-header {
        @apply !bg-preschool
    }
    .wp-block-navigation-item__content:hover,
    a.wp-block-button__link.wp-element-button:hover {
        text-decoration-color: var(--wp--preset--color--preschoolbg-preschool);
        
    }
}
.page-education, .education {
    .wp-block-post-content a:not(a.wp-block-button__link.wp-element-button),
    .kt-accordion-panel-inner a {
        @apply text-school
    }
    .kt-accordion-header-wrap .kt-blocks-accordion-header {
        @apply !bg-school
    }
    .wp-block-navigation-item__content:hover,
    a.wp-block-button__link.wp-element-button:hover {
        text-decoration-color: var(--wp--preset--color--schoolbg-school);
        
    }
}
.page-recreation, .recreation {
    .wp-block-post-content a:not(a.wp-block-button__link.wp-element-button),
    .kt-accordion-panel-inner a {
        @apply text-recreation
    }
    .kt-accordion-header-wrap .kt-blocks-accordion-header {
        @apply !bg-recreation
    }
    .wp-block-navigation-item__content:hover,
    a.wp-block-button__link.wp-element-button:hover {
        text-decoration-color: var(--wp--preset--color--recreation);
        
    }
}
.page-athletics, .athletics {
    .wp-block-post-content a:not(a.wp-block-button__link.wp-element-button),
    .kt-accordion-panel-inner a {
        @apply text-athletics
    }
    .kt-accordion-header-wrap .kt-blocks-accordion-header {
        @apply !bg-athletics
    }
    .wp-block-navigation-item__content:hover,
    a.wp-block-button__link.wp-element-button:hover {
        text-decoration-color: var(--wp--preset--color--athletics);
        
    }
}
.page-family-fun, .family {
    .wp-block-post-content a:not(a.wp-block-button__link.wp-element-button),
    .kt-accordion-panel-inner a {
        @apply text-activities
    }
    .kt-accordion-header-wrap .kt-blocks-accordion-header {
        @apply !bg-activities
    }
    .wp-block-navigation-item__content:hover,
    a.wp-block-button__link.wp-element-button:hover {
        text-decoration-color: var(--wp--preset--color--activities);
        
    }
}
.page-utilities, .utilities {
    .wp-block-post-content a:not(a.wp-block-button__link.wp-element-button),
    .kt-accordion-panel-inner a {
        @apply text-utilities
    }
    .kt-accordion-header-wrap .kt-blocks-accordion-header {
        @apply !bg-utilities
    }
    .wp-block-navigation-item__content:hover,
    a.wp-block-button__link.wp-element-button:hover {
        text-decoration-color: var(--wp--preset--color--utilities);
        
    }
}