body {
    --global-kb-spacing-5xl: var(--wp--preset--spacing--80);
    --global-kb-spacing-4xl: var(--wp--preset--spacing--64);
    --global-kb-spacing-3xl: var(--wp--preset--spacing--48);
    --global-kb-spacing-xxl: var(--wp--preset--spacing--40);
    --global-kb-spacing-xl: var(--wp--preset--spacing--32);
    --global-kb-spacing-lg: var(--wp--preset--spacing--24);
    --global-kb-spacing-md: var(--wp--preset--spacing--20);
    --global-kb-spacing-sm: var(--wp--preset--spacing--16);
    --global-kb-spacing-xs: var(--wp--preset--spacing--12);
    --global-kb-spacing-xxs: var(--wp--preset--spacing--8);

    --global-kb-gap-lg: var(--wp--preset--spacing--112);
    --global-kb-gap-md: var(--wp--preset--spacing--40);
    --global-kb-gap-xs: var(--wp--preset--spacing--16);
    --global-row-gutter-lg: var(--wp--preset--spacing--40);
    --global-row-gutter-md: var(--wp--preset--spacing--32);
    --global-row-gutter-sm: var(--wp--preset--spacing--16);

    --global-kb-font-size-sm: clamp(0.65rem, 0.3569rem + 1.3397vw, 1rem);
    --global-kb-font-size-md: clamp(0.75rem, 0.3313rem + 1.9139vw, 1.25rem);
    --global-kb-font-size-lg: var(--wp--preset--font-size--medium);
    --global-kb-font-size-xl: var(--wp--preset--font-size--large);
    --global-kb-font-size-xxl: var(--wp--preset--font-size--x-large);
    --global-kb-font-size-xxxl: var(--wp--preset--font-size--2-xl);
}