h1.wp-block.wp-block-post-title.block-editor-block-list__block.editor-post-title {
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 24px;
}
.edit-post-visual-editor__post-title-wrapper {
    margin-top: 0 !important;
    border-bottom: gray 1px solid;
    @apply bg-gray-50 pt-4
}